### Derive litter chemistry inputs for each of the five sites across the climate gradient

By Bin Wang (@bioatmo_sphere)|wbwenwu@gmail.com

---

**Methods**:
1. Get chemical composition of litter based on the grassland site, and assume the same chemcial composition
2. Derive litter inputs for each of the 5 sites with field measurements of litter chemistry at each site (Baker and Allison 2017 SBB)
3. NOTE: in each site the total amounts of litter are the same except for the proportions of varying compounds.

In [1]:
import pandas as pd
import numpy  as np

print('Pandas:',pd.__version__)
print('Numpy:', np.__version__)

Pandas: 0.25.3
Numpy: 1.18.2

## 1. Grassland site litter input used in Allison and Goulden (2017) & Wang and Allison (2020)

In [2]:
grassland_base = pd.read_csv('initial_substrates.csv',index_col=0)
grassland_base

                      C        N         P
DeadMic          0.0000  0.00000  0.000000
DeadEnz          0.0000  0.00000  0.000000
Cellulose      146.8900  0.00000  0.000000
Hemicellulose   85.8550  0.00000  0.000000
Starch          12.2100  0.00000  0.000000
Chitin           4.9952  0.83254  0.000000
Lignin          48.5100  0.40425  0.000000
Protein1        10.6000  2.09704  0.000000
Protein2        10.6000  2.09704  0.000000
Protein3        10.6000  2.09704  0.000000
OrgP1           12.4800  0.00000  0.478469
OrgP2            1.8182  0.79745  0.478469

In [3]:
grassland_base = grassland_base.iloc[2:,:]
grassland_base

                      C        N         P
Cellulose      146.8900  0.00000  0.000000
Hemicellulose   85.8550  0.00000  0.000000
Starch          12.2100  0.00000  0.000000
Chitin           4.9952  0.83254  0.000000
Lignin          48.5100  0.40425  0.000000
Protein1        10.6000  2.09704  0.000000
Protein2        10.6000  2.09704  0.000000
Protein3        10.6000  2.09704  0.000000
OrgP1           12.4800  0.00000  0.478469
OrgP2            1.8182  0.79745  0.478469

In [4]:
new_index = ['Cellulose', 'Hemicellulose', 'Chitin', 'Lignin', 'Starch','Protein1','Protein2', 'Protein3', 'OrgP1', 'OrgP2']

In [5]:
grassland_base = grassland_base.loc[new_index,:]
grassland_base

                      C        N         P
Cellulose      146.8900  0.00000  0.000000
Hemicellulose   85.8550  0.00000  0.000000
Chitin           4.9952  0.83254  0.000000
Lignin          48.5100  0.40425  0.000000
Starch          12.2100  0.00000  0.000000
Protein1        10.6000  2.09704  0.000000
Protein2        10.6000  2.09704  0.000000
Protein3        10.6000  2.09704  0.000000
OrgP1           12.4800  0.00000  0.478469
OrgP2            1.8182  0.79745  0.478469

In [6]:
C_percent = sum(grassland_base['C'])/grassland_base.sum().sum()
N_percent = sum(grassland_base['N'])/grassland_base.sum().sum()
C_N_ratio = sum(grassland_base['C'])/sum(grassland_base['N'])
print('C_percent =',C_percent)
print('N_percent =',N_percent)
print('C_N_ratio =',C_N_ratio)

C_percent = 0.9737670142172284
N_percent = 0.02352855408396238
C_N_ratio = 41.386606705295634

In [7]:
grassland0 = grassland_base.copy()
grassland0.loc[:,'total'] = grassland0.sum(axis=1)
grassland0.loc[:,'percent'] = 100*grassland0['total']/sum(grassland0['total'])
grassland0

                      C        N         P       total    percent
Cellulose      146.8900  0.00000  0.000000  146.890000  41.513031
Hemicellulose   85.8550  0.00000  0.000000   85.855000  24.263744
Chitin           4.9952  0.83254  0.000000    5.827740   1.646995
Lignin          48.5100  0.40425  0.000000   48.914250  13.823806
Starch          12.2100  0.00000  0.000000   12.210000   3.450705
Protein1        10.6000  2.09704  0.000000   12.697040   3.588349
Protein2        10.6000  2.09704  0.000000   12.697040   3.588349
Protein3        10.6000  2.09704  0.000000   12.697040   3.588349
OrgP1           12.4800  0.00000  0.478469   12.958469   3.662232
OrgP2            1.8182  0.79745  0.478469    3.094119   0.874438

#### Substrates' stochiometry

In [8]:
ratio = grassland_base.divide(grassland0['total'],axis=0)
ratio

                      C         N         P
Cellulose      1.000000  0.000000  0.000000
Hemicellulose  1.000000  0.000000  0.000000
Chitin         0.857142  0.142858  0.000000
Lignin         0.991736  0.008264  0.000000
Starch         1.000000  0.000000  0.000000
Protein1       0.834840  0.165160  0.000000
Protein2       0.834840  0.165160  0.000000
Protein3       0.834840  0.165160  0.000000
OrgP1          0.963077  0.000000  0.036923
OrgP2          0.587631  0.257731  0.154638

### Proportion of Chitin, OrgP1, and OrgP2  in Structural Carbohydrates

In [9]:
grass_per = grassland0.percent
grass_per

Cellulose        41.513031
Hemicellulose    24.263744
Chitin            1.646995
Lignin           13.823806
Starch            3.450705
Protein1          3.588349
Protein2          3.588349
Protein3          3.588349
OrgP1             3.662232
OrgP2             0.874438
Name: percent, dtype: float64

In [10]:
Chitin = grass_per.Chitin/(grass_per.Chitin + grass_per.OrgP1 + grass_per.OrgP2)
Chitin

0.2663460986508063

In [11]:
OrgP1 = grass_per.OrgP1/(grass_per.Chitin + grass_per.OrgP1 + grass_per.OrgP2)
OrgP1

0.5922429042197174

In [12]:
OrgP2 = grass_per.OrgP2/(grass_per.Chitin + grass_per.OrgP1 + grass_per.OrgP2)
OrgP2

0.14141099712947627

### Total Litter Input ($T_{i}$)

**Scale $T_{i}$ to other sites** based on field observation of litter amount

In [13]:
T_grassland = sum(grassland0['total'])
T_grassland

353.840698

## 2. Derive litter Input for each of the five sites

## `Grassland`

In [14]:
grassland_per = pd.Series(
    data = [(36.3+36.)/2, (16.+8.6)/2,Chitin*(13.3+12.6)/2, (8.+14.3)/2, (8.8+5.1)/2,
           (1/3)*(11.9+16.5)/2, (1/3)*(11.9+16.5)/2,(1/3)*(11.9+16.5)/2,
           OrgP1*(13.3+12.6)/2,OrgP2*(13.3+12.6)/2],
    index=new_index
)
grassland_per

Cellulose        36.150000
Hemicellulose    12.300000
Chitin            3.449182
Lignin           11.150000
Starch            6.950000
Protein1          4.733333
Protein2          4.733333
Protein3          4.733333
OrgP1             7.669546
OrgP2             1.831272
dtype: float64

In [15]:
sum(grassland_per)

93.7

In [16]:
T_grassland

353.840698

In [17]:
grassland = ratio.mul(T_grassland * grassland_per*0.01,axis=0)
grassland

                        C         N         P
Cellulose      127.913412  0.000000  0.000000
Hemicellulose   43.522406  0.000000  0.000000
Chitin          10.461082  1.743528  0.000000
Lignin          39.127178  0.326060  0.000000
Starch          24.591929  0.000000  0.000000
Protein1        13.982288  2.766171  0.000000
Protein2        13.982288  2.766171  0.000000
Protein3        13.982288  2.766171  0.000000
OrgP1           26.135951  0.000000  1.002023
OrgP2            3.807723  1.670041  1.002023

## **`Scrubland`**

In [18]:
scrubland_per = pd.Series(
    data = [(28.0+27.6)/2, (17.1+20.9)/2, Chitin*(17.2+12.0)/2, (8.+8.2)/2, (10.5+11.0)/2,
            (1/3)*(12.8+14.9)/2,(1/3)*(12.8+14.9)/2,(1/3)*(12.8+14.9)/2,
           OrgP1*(17.2+12.0)/2, OrgP2*(17.2+12.0)/2],
    index= new_index
)
scrubland_per

Cellulose        27.800000
Hemicellulose    19.000000
Chitin            3.888653
Lignin            8.100000
Starch           10.750000
Protein1          4.616667
Protein2          4.616667
Protein3          4.616667
OrgP1             8.646746
OrgP2             2.064601
dtype: float64

In [19]:
scrubland_per.sum()

94.09999999999998

In [20]:
T_scrubland = T_grassland * 1.0
T_scrubland

353.840698

In [21]:
scrubland = ratio.mul(T_scrubland * scrubland_per*0.01,axis=0)
scrubland

                       C         N         P
Cellulose      98.367714  0.000000  0.000000
Hemicellulose  67.229733  0.000000  0.000000
Chitin         11.793961  1.965676  0.000000
Lignin         28.424228  0.236869  0.000000
Starch         38.037875  0.000000  0.000000
Protein1       13.637654  2.697991  0.000000
Protein2       13.637654  2.697991  0.000000
Protein3       13.637654  2.697991  0.000000
OrgP1          29.466014  0.000000  1.129693
OrgP2           4.292877  1.882826  1.129693

## `Desert`

In [22]:
desert_per = pd.Series(
    data = [(35.6+33.1)/2, (0.0+0.9)/2, Chitin*(25.7+18.7)/2, (17.4+16.2)/2, (5.+4.9)/2,
           (1/3)*(9.1+11.0)/2,(1/3)*(9.1+11.0)/2,(1/3)*(9.1+11.0)/2,
           OrgP1*(25.7+18.7)/2, OrgP2*(25.7+18.7)/2],
    index= new_index
)

desert_per

Cellulose        34.350000
Hemicellulose     0.450000
Chitin            5.912883
Lignin           16.800000
Starch            4.950000
Protein1          3.350000
Protein2          3.350000
Protein3          3.350000
OrgP1            13.147792
OrgP2             3.139324
dtype: float64

In [23]:
sum(desert_per)

88.79999999999998

In [24]:
T_desert = T_grassland * 1.0
T_desert

353.840698

In [25]:
desert = ratio.mul(T_desert * desert_per*0.01,axis=0)
desert

                        C         N         P
Cellulose      121.544280  0.000000  0.000000
Hemicellulose    1.592283  0.000000  0.000000
Chitin          17.933283  2.988904  0.000000
Lignin          58.953954  0.491283  0.000000
Starch          17.515115  0.000000  0.000000
Protein1         9.895915  1.957748  0.000000
Protein2         9.895915  1.957748  0.000000
Protein3         9.895915  1.957748  0.000000
OrgP1           44.804488  0.000000  1.717753
OrgP2            6.527526  2.862928  1.717753

## `Pine-oak`

In [26]:
pineoak_per = pd.Series(
    data = [(24.1+22.2)/2, (5.6+5.3)/2, Chitin*(31.3+30.6)/2, (13.6+13.1)/2,(12.6+16.0)/2,
           (1/3)*(1.9+1.5)/2, (1/3)*(1.9+1.5)/2,(1/3)*(1.9+1.5)/2,
           OrgP1*(31.3+30.6)/2,OrgP2*(31.3+30.6)/2],
    index=new_index
)
pineoak_per

Cellulose        23.150000
Hemicellulose     5.450000
Chitin            8.243412
Lignin           13.350000
Starch           14.300000
Protein1          0.566667
Protein2          0.566667
Protein3          0.566667
OrgP1            18.329918
OrgP2             4.376670
dtype: float64

In [27]:
sum(pineoak_per)

88.89999999999999

In [28]:
T_pineoak = T_grassland
T_pineoak

353.840698

In [29]:
pineoak = ratio.mul(T_pineoak * pineoak_per*0.01,axis=0)
pineoak

                       C         N         P
Cellulose      81.914122  0.000000  0.000000
Hemicellulose  19.284318  0.000000  0.000000
Chitin         25.001582  4.166964  0.000000
Lignin         46.847339  0.390394  0.000000
Starch         50.599220  0.000000  0.000000
Protein1        1.673936  0.331161  0.000000
Protein2        1.673936  0.331161  0.000000
Protein3        1.673936  0.331161  0.000000
OrgP1          62.463914  0.000000  2.394795
OrgP2           9.100312  3.991334  2.394795

## `subalpine`

In [30]:
subalpine_per = pd.Series(
    data = [(24.1+23.1)/2,(6.1+5.5)/2, Chitin*(34.+32.8)/2, (13.9+13.9)/2,(8.9+11.6)/2,
           (1/3)*(2.9+2.8)/2,(1/3)*(2.9+2.8)/2,(1/3)*(2.9+2.8)/2,
           OrgP1*(34.+32.8)/2,OrgP2*(34.+32.8)/2],
    index=new_index
)
subalpine_per

Cellulose        23.600000
Hemicellulose     5.800000
Chitin            8.895960
Lignin           13.900000
Starch           10.250000
Protein1          0.950000
Protein2          0.950000
Protein3          0.950000
OrgP1            19.780913
OrgP2             4.723127
dtype: float64

In [31]:
sum(subalpine_per)

89.8

In [32]:
T_subalpine = T_grassland * (1.0)
T_subalpine

353.840698

In [33]:
subalpine = ratio.mul(T_subalpine * subalpine_per*0.01,axis=0)
subalpine

                       C         N         P
Cellulose      83.506405  0.000000  0.000000
Hemicellulose  20.522760  0.000000  0.000000
Chitin         26.980706  4.496820  0.000000
Lignin         48.777379  0.406478  0.000000
Starch         36.268672  0.000000  0.000000
Protein1        2.806304  0.555182  0.000000
Protein2        2.806304  0.555182  0.000000
Protein3        2.806304  0.555182  0.000000
OrgP1          67.408553  0.000000  2.584367
OrgP2           9.820692  4.307288  2.584367

### Derive simulation ready inputs

In [34]:
def site_litter(site, data):
    
    index = ['DeadMic',
             'DeadEnz',
             'Cellulose',
             'Hemicellulose',
             'Starch',
             'Chitin',
             'Lignin',
             'Protein1',
             'Protein2',
             'Protein3',
             'OrgP1',
             'OrgP2']
    data.loc['DeadEnz'] = [0.,0.,0.]
    data.loc['DeadMic'] = [0.,0.,0.]
    data = data.loc[index,:]
    
    data.to_csv("../"+site+"/initial_substrates.csv")

In [35]:
site_litter('desert',   desert)
site_litter('scrubland',scrubland)
site_litter('grassland',grassland)
site_litter('pine_oak', pineoak)
site_litter('subalpine',subalpine)